<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- for information on setting the values for the connection strings see the configTool project -->
    <add key="WebDAL" value="PetShop.SQLServerDAL"/>
    <add key="OrdersDAL" value="PetShop.SQLServerDAL"/>
    <add key="Event Log Source" value=".NET Pet Shop"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="PetShop.SQLServerDAL" fullName="PetShop.SQLServerDAL,version=3.2.1.0,culture=neutral"/>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="PetShop" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PetShop;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name="PetShopAuth" loginUrl="SignIn.aspx" protection="None" timeout="60"/>
    </authentication>
    <compilation defaultLanguage="c#" debug="true"/>
    <customErrors defaultRedirect="Error.aspx" mode="Off"/>
    <globalization requestEncoding="ascii" responseEncoding="ascii"/>
    <pages buffer="true" enableSessionState="ReadOnly" enableViewState="false" smartNavigation="false"/>
    <sessionState mode="InProc" timeout="10"/>
  </system.web>
  <location path="EditAccount.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderBilling.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderShipping.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderProcess.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyAccount.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>